/* @import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css'); */
@font-face {
	font-family: 'NanumSquare';
	font-weight: 800;
	font-display: swap;
	src: local('NanumSquare ExtraBold'), url('../font/NanumSquare/NanumFontSetup_OTF_SQUARE/NanumSquareEB.otf') format('opentype'), url('../font/NanumSquare/NanumFontSetup_TTF_SQUARE/NanumSquareEB.ttf') format('truetype');
}
@font-face {
	font-family: 'NanumSquare';
	font-weight: 600;
	font-display: swap;
	src: local('NanumSquare Bord'), url('../font/NanumSquare/NanumFontSetup_OTF_SQUARE/NanumSquareB.otf') format('opentype'), url('../font/NanumSquare/NanumFontSetup_TTF_SQUARE/NanumSquareB.ttf') format('truetype');
}
@font-face {
	font-family: 'NanumSquare';
	font-weight: 400;
	font-display: swap;
	src: local('NanumSquare Regular'), url('../font/NanumSquare/NanumFontSetup_OTF_SQUARE/NanumSquareR.otf') format('opentype'), url('../font/NanumSquare/NanumFontSetup_TTF_SQUARE/NanumSquareR.ttf') format('truetype');
}
@font-face {
	font-family: 'NanumSquare';
	font-weight: 200;
	font-display: swap;
	src: local('NanumSquare Lignt'), url('../font/NanumSquare/NanumFontSetup_OTF_SQUARE/NanumSquareL.otf') format('opentype'), url('../font/NanumSquare/NanumFontSetup_TTF_SQUARE/NanumSquareL.ttf') format('truetype');
}